.slideshow-enabled {
  position: relative;
}

.slideshow-enabled:focus {
  outline: 0;
}

.slideshow-viewport {
  height: 100%;
  overflow: hidden;
  position: relative;
  touch-action: pan-y;
}

.slideshow-slider {
  height: 100%;
  left: 0;
  position: absolute;
  width: 100%;
}

.slideshow-rtl .slideshow-slider {
  left: unset;
  right: 0;
}

.slideshow-enabled.is-draggable {
  -webkit-tap-highlight-color: transparent;
  user-select: none;
}

.slideshow-enabled.is-draggable .slideshow-viewport {
  cursor: move;
  cursor: grab;
}

.slideshow-enabled.is-draggable .slideshow-viewport.is-pointer-down {
  cursor: grabbing;
}

.slideshow-cell {
  left: 0;
  position: absolute;
}

.slideshow-rtl .slideshow-cell {
  left: unset;
  right: 0;
}

.slideshow-button {
  background: hsla(0, 0%, 100%, 0.75);
  border: none;
  color: #333;
  position: absolute;
}

.slideshow-button:hover {
  background: #fff;
  cursor: pointer;
}

.slideshow-button:focus {
  box-shadow: 0 0 0 5px #19f;
  outline: 0;
}

.slideshow-button:active {
  opacity: 0.6;
}

.slideshow-button:disabled {
  cursor: auto;
  opacity: 0.3;
  pointer-events: none;
}

.slideshow-button-icon {
  fill: currentColor;
}

.slideshow-prev-next-button {
  border-radius: 50%;
  height: 44px;
  top: 50%;
  transform: translateY(-50%);
  width: 44px;
}

.slideshow-prev-next-button.previous {
  left: 10px;
}

.slideshow-prev-next-button.next {
  right: 10px;
}

.slideshow-rtl .slideshow-prev-next-button.previous {
  left: auto;
  right: 10px;
}

.slideshow-rtl .slideshow-prev-next-button.next {
  left: 10px;
  right: auto;
}

.slideshow-prev-next-button .slideshow-button-icon {
  height: 60%;
  left: 20%;
  position: absolute;
  top: 20%;
  width: 60%;
}

.slideshow-page-dots {
  bottom: -25px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  position: absolute;
  text-align: center;
  width: 100%;
}

.slideshow-rtl .slideshow-page-dots {
  direction: rtl;
}

.slideshow-page-dot {
  appearance: none;
  background: rgba(51, 51, 51, 0.25);
  border: none;
  border-radius: 50%;
  cursor: pointer;
  display: block;
  height: 10px;
  margin: 0 8px;
  overflow: hidden;
  padding: 0;
  text-indent: -9999px;
  width: 10px;
}

.slideshow-rtl .slideshow-page-dot {
  text-indent: 9999px;
}

.slideshow-page-dot:hover,
.slideshow-page-dot.is-selected {
  background: #333;
}

.slideshow-page-dot.is-selected {
  background: #333;
}

.slideshow-enabled.is-fade .slideshow-slider > * {
  pointer-events: none;
  z-index: 0;
}

.slideshow-enabled.is-fade .slideshow-slider > .is-selected {
  pointer-events: auto;
  z-index: 1;
}
